<html>

<head>
  <title>DTDL Model Repo</title>
  <link rel="stylesheet" href="s.css">
</head>

<body>

  <h1>DTDL Model Repo</h1>
  <h4>View models from npm @digital-twins org</h4>

  <div id="app"></div>

  <script type="text/x-template" id="app-template">
      <section>
        
        <input type="text" v-model="text" placeholder="dtmi:azure:devicemanagement:deviceinformation;1"  size="60"/>
        <button v-on:click="search">Search</button>
        
        <ul>
            <li v-for="m in dtdlModels">
                <span :title="m.pkg"></span>
                <a  :href="'/api/viewModel?id=' + m.id" 
                    :title="m.pkg"
                    target="_blank">
                    {{ m.id }}
                </a>
            </li>
        </ul>
    </section>
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  
  <script src="app.js" type="module"></script>
</body>

</html>